*{
	margin: 0;
	padding: 0;
}

html{
	box-sizing: border-box;
}

*:before,*:after{
	box-sizing: inherit;
}

@font-face {
	font-family:"Myriad Pro Light";
	src: url(../font/MyriadPro-Light.otf);
}

body{
	font-family:Myriad Pro Light, sans-serif;
	font-size: 1.1em;
}

ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
.container{
	width: 100%;
}

section{
	/*border: 1px solid red;*/
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: wrap;
	align-items: flex-start;
	justify-content: center;
}

.header{
	align-items: center;
	text-align: center;
}
section .containerBis{
	/*border: 1px solid blue;*/
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	width: 90%;
}

h1,h2,h4,h5{
	width:100%;
	text-align: center;
}

h2{
	font-size: 4vw;
	margin: 0 0 1em;
	/*background-color: rgb(48, 60, 86);*/
	color: rgb(48, 60, 86);
	width: 35%;
}

.title{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

span{
	width: 30%;
	border: 3px solid rgb(48, 60, 86);
	height: 0;
}

span p{
	visibility: hidden;
}

div .infos{
	width: 60%;
	margin: 2em;
}

.menu{
	position: fixed;
	top: 2em;
	z-index: 2;
}

.barmenu{
	position: fixed;
	height: 100vh;
	left: 0;
	width: 20%;
	background-color: black;
	opacity: .7;
	display: none;
}

.menu:hover .barmenu{
	display: block;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
missions
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.missions h4{
		margin: 2em 0 0 ;
}
.containerBis .bloc{
	border: 1px solid white;
	width: 33%;
	flex-grow: 1;
	height: 35vh;
	text-align: center;
	display: flex;
	align-items: baseline;
}

.containerBis #barometre{
	width: 66%;
	flex-grow: 2;
	border-right: none;
}

#barometre article{
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
}

.bloc article p{
	width: 60%;
	margin: 1em auto;
}

.bloc article{
	color: white;
	height: 100%;
	background-color: rgba(217,48 ,44 , 0.6);
}

#barometre article p{
	width: 100%;
}

#detection, #barometre,#promotion,#selection,#accompagnement{
	position: relative;
}

#detection img, #barometre img,#promotion img,#selection img,#accompagnement img{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: .7;
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
rejoignez-nous
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.containerBis h1 img{
	width: 70%;
	height: auto;
	/*border: 1px solid grey;*/
}

.ecosysteme .containerBis img{
	margin: 3em auto;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
engagements
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.engagements .containerBis div{
	display: flex;
	flex-flow: wrap;
}

.engagements span{
	width: 25%;
}

.pour_le_territoire,.porteurs_de_projet,.le_centsept,.engagements ul{
	width: 28%;
	text-align: justify;
	margin-bottom: 2em;
}

.back-territoire,.back-projet,.back-centsept{
	width: 100%;
	height: 40vh;
	/*border: 1px solid rgb(48, 60, 86);*/
}

.back-territoire{
	background-image: url("../img/tree.jpg");
	background-size: cover;
}

.back-projet{
	background-image: url("../img/projet.jpg");
	background-size: cover;
}

 .ul_projet li,.ul_centsept li,.ul_territoire li{
	margin: .5em 0;
}

.back-centsept{
	background-image: url("../img/back107.jpg");
	background-size: cover;
}

.pour_le_territoire{
	order: 1;
}

.porteurs_de_projet{
	order: 2;
}

.le_centsept{
	order:3;
}

.ul_territoire{
	order: 4;
}

.ul_projet{
	order: 5;
}

.ul_centsept{
	order: 6;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
nous connaitre
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.connaitre .containerBis{
	/*border: 1px solid blue;*/
	background-color: rgb(48, 60, 86);
	color: white;
}

.connaitre .containerBis div{
	/*margin: .8em 0;*/
}

.connaitre .title{
		background-color: white;
		margin: 0;
}
.connaitre h2{
	background-color: white;
	color: rgb(48, 60, 86);
	margin-bottom: 1em;
}

.connaitre h3{
	font-size: 1.5em;
	background-color: white;
	color: rgb(48, 60, 86);
	width: 100%;
	padding: .5em 0;
	text-align: center;
}

.containerBis .territoire,.containerBis .acteurs,.containerBis .partenaires,.partenaires .prives,.partenaires .institutionnels{
	display: flex;
	flex-flow: wrap;
	align-items:center;
	justify-content: space-around;
	/*margin: .8em 0 ;*/
	/*background-color: red;*/
}


.territoire div, .prives div,.institutionnels div{
	width: 100px;
	height: auto;
}

.territoire img, .partenaires img{
	width: 100%;
	height: 100%;
}

.containerBis .partenaires,.containerBis .territoire{
	width: 100%;
	/*border: 1px solid green;*/
}

.partenaires .institutionnels{
	width: 75%;
}

.partenaires .prives{
	width: 20%;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
contact
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.contact{
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	/*border: 1px solid grey;*/
	width: 90%;
}
.adresse,.map{
	/*border: 1px solid grey;*/
	height: 70vh;
}
.contact .map{
	width: 65%;
}

.contact .adresse{
	width: 30%;
	background-color: grey;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.adresse img{
	width: 32px;
	height: 32px;
}
